<!DOCTYPE html>
<html lang="en" xmlns:th="http://theymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>入职欢迎文件</title>
</head>
<body>

欢迎<span th:text="${name}"></span>上了我们的贼船 在这里你将会蒸蒸日上，幸福美满

<table border="2">
  <tr>
    <td>姓名</td>
    <td th:text="${name}"></td>
  </tr>
  <tr>
    <td>职位</td>
    <td th:text="${posName}"></td>
  </tr>
  <tr>
    <td>职称</td>
    <td th:text="${jobleveName}"></td>
  </tr>
  <tr>
    <td>部门</td>
    <td th:text="${departmentName}"></td>
  </tr>


</table>
<script>



</script>
<p>
  本公司会让你闪闪发光娇滴滴的暖度撒娇波士顿你就快两年的进口量那里能服了恩佛恩公奶爸公分了困难两三年了三年里发布啦你俩分辨率把弗拉范冰冰大部分巴拉白费蜡百分不发了风暴
  阿萨法发放  阿发发放阿发
</p>
</body>
</html>